.post-type-archive-location {
  #map {
    width: calc(100vw - 15px);
    height: 400px;
    max-height: 100vh;

    #flecha-location-1 {
      position: absolute;
      z-index: 1000;
      bottom: 0;
      left: calc(50vw - 12px);
    }
  }

  @include tablet-portrait {
    #map {
      height: calc(100vh - 154px);
    }
  }

  .list {
    list-style-type: none;
    padding-left: 0;

    li {
      border-bottom: 1px solid #000;
      padding-top: 0;
      padding-bottom: 0;

      &:last-child {
        border-bottom: none;
      }

      a {
        padding: $pad;
        padding-bottom: $pad;
      }
    }
  }
}
