.home {
  .content {
    .hero {
      display: none;
    }
  }

  @include tablet-portrait {
    .content {
      .hero {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: #000;

        .flecha-aba {
          display: block;
          position: absolute;
          left: calc(50% - 12px);
        }

        #flecha-2 {
          width: 24px;
          height: 13px;

          svg {
            position: absolute;
            top: 0;

            polygon {
              fill: #fff !important;
            }
          }
        }

        #flecha-3 {
          bottom: $pad;
          width: 24px;
          height: 28px;

          svg {
            polygon {
              fill: #fff !important;
            }
          }
        }
      }
    }
  }
}
