.banner {
  position: relative;
  // display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px $pad $pad-3;
  background-color: $gray-lighter;
  background-image: url("../images/img/bg-dot-gris.png");
  font-family: $ff-display;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  z-index: 500;

  .home & {
    height: 100vh;
  }

  a {
    color: #000;

    &:hover {
      color: $color-rojo;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 170px;

    .nombres {
      display: flex;
      flex-direction: column;
      order: 2;
    }

    .brand {
      display: block;
      order: 2;
      font-size: 0.8rem;
      font-weight: bold;
      line-height: 1.5em;
    }

    p {
      display: block;
      margin-top: 0;
      margin-bottom: 0;

      &.edicion {
        position: relative;
        order: 3;
        margin-top: 10px;
        margin-bottom: 10px;
        left: -5px;
        font-size: 2.5rem;
        font-weight: bold;
      }

      &.descripcion {
        order: 4;
        font-size: 0.8rem;
        line-height: 1.5em;
        margin-bottom: $pad;
      }
    }

    .logo {
      margin-bottom: 20px;
      order: 1;
      width: 90px;
      height: 90px;
      border: 5px solid #000;
      position: relative;

      div {
        width: 100%;
        height: 100%;
        position: absolute;

        &.ruido {
          background-image: url("../images/videogif/ruido.gif");
          background-size: cover;

          .programadas &,
          .anteriores &,
          .presentacion-2019 &,
          .post-type-archive-event &,
          .post-type-archive-location &,
          .grupo &,
          .contacto &,
          .edicion-2018 &,
          .invitados &,
          .jornadas & {
            opacity: 0.2;
          }
        }

        &.video {
          background-size: cover;

          .programadas &,
          .anteriores &,
          .post-type-archive-event &,
          .post-type-archive-location & {
            background-image: url("../images/videogif/actividades.gif");
          }

          .grupo & {
            background-image: url("../images/videogif/grupo.gif");
          }

          .presentacion-2019 & {
            background-image: url("../images/videogif/present.gif");
          }

          .contacto & {
            background-image: url("../images/videogif/contacto.gif");
          }

          .invitados & {
            background-image: url("../images/videogif/invitados.gif");
          }

          .edicion-2018 & {
            background-image: url("../images/videogif/edicion.gif");
          }

          .jornadas & {
            background-image: url("../images/videogif/jornadas.gif");
          }
        }
      }
    }

    .nav-container {
      position: fixed;
      top: $pad;
      width: calc(100vw - 30px);
      height: calc(100vh - 30px);
      padding-top: 75px;
      background-color: #fff;
      border: 5px solid #000;
      z-index: 1000;
      transition: left $trans;

      &.cerrado {
        left: calc(-100vw - 50px);
      }

      &.abierto {
        left: $pad;
      }

      ul {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 210px;
        padding-left: 0;
        list-style-type: none;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.5em;

        a {
          display: block;
        }
      }

      #cerrar {
        position: absolute;
        top: $pad-1;
        right: 20px;
        width: 40px;
        height: 40px;
        background-image: url("../images/svg/cerrar.svg");
      }
    }
  }

  #hamb {
    position: absolute;
    top: $pad-1;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("../images/svg/hamb.svg");
  }

  .flecha-aba {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: $pad-1;
    display: block;
    width: 24px;
    height: 28px;
    background-image: url("../images/svg/flecha-aba-peq.svg");
    background-repeat: no-repeat;
  }

  @include tablet-portrait {
    position: fixed;
    top: 0;
    width: 100%;
    padding: $pad;
    height: auto;
    justify-content: flex-start;

    .container {
      max-width: inherit;
      width: 100%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      .col-izq {
        display: flex;

        .logo {
          position: relative;
          top: 5px;
          left: 5px;
          width: 66px;
          height: 66px;
        }

        .nombres {
          position: relative;
          display: block;
          flex-grow: 1;
          margin-left: 50px;

          p {
            max-width: 170px;
          }

          .edicion {
            position: absolute;
            top: 19px;
            left: 95px;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 0.8rem;
            font-weight: bold;
            line-height: 1.5em;
          }
        }
      }

      .nav-container {
        display: flex;
        order: 3;
        position: static;
        width: auto;
        height: auto;
        padding-top: 0;
        border: none;
        background-color: transparent;

        .menu-general-container {
          margin-right: $pad-3;
        }

        ul {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 0.8rem;
        }
      }
    }

    #flecha-1,
    #hamb,
    #cerrar {
      display: none;
    }

    .home & {
      height: 100vh;

      #flecha-1 {
        display: block;
        width: 24px;
        left: calc(50% - 12px);

        &.hidden {
          display: none;
        }
      }
    }

    &.big {
      // banner grande tablet
      padding: $pad-4;

      .col-izq {
        flex-direction: column;

        .nombres {
          order: 1;
          margin-left: 0;

          p {
            max-width: 300px;
            font-size: 1.4rem;
            line-height: 1.3em;

            &.edicion {
              position: relative;
              top: 0;
              left: -7px;
              font-size: 4rem;
              line-height: 1.1em;
            }
          }
        }

        .logo {
          order: 2;
          width: 150px;
          height: 150px;
          left: 0;
          top: 0;
        }
      }

      .nav-container {
        flex-direction: column;

        ul {
          margin-left: 0;
          margin-right: 0;
          max-width: 100%;
          font-size: 1.4rem;

          .menu-item {
            position: relative;

            &:hover {
              animation: brownian 0.02s infinite;
            }
          }
        }

        .menu-general-container {
          margin-bottom: $pad-2;
          padding-bottom: $pad-2;
          margin-right: 0;
          border-bottom: 5px solid #000;
        }
      }
    }
  }

  @include tablet-landscape {
    .container {
      .col-izq {
        .nombres {
          margin-left: 150px;
        }
      }
    }

    &.big {
      // banner grande desktop
      .col-izq {
        .nombres {
          margin-left: 0;

          p {
            max-width: 400px !important;
            font-size: 1.8rem;

            &.edicion {
              font-size: 5rem;
            }
          }
        }
      }

      .nav-container {
        ul {
          font-size: 1.8rem;
        }
      }
    }
  }
}
