.taxonomy-edition-2018-data {
  .page-header {
    padding: $pad;
    font-family: $ff-sans;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

.p-programadas,
.p-anteriores,
.taxonomy-edition-2018-data {
  .pager {
    display: none;
  }

  .content {
    max-width: none;
  }

  .hide {
    display: none;
  }

  .article {
    display: block;
    padding: $pad;
    margin: $pad;
    font-family: $ff-sans;
    border: 1px dotted #000;
    color: #000;
    overflow: hidden;

    header {
      p {
        margin-top: 0;

        &.ambito {
          text-transform: uppercase;
          margin-bottom: 5px;
          font-size: 0.8rem;
          letter-spacing: 0.05em;
          font-weight: bold;
        }

        &.fecha {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 1rem;
          line-height: 1em;
        }

        &.edition {
          text-transform: uppercase;
          font-size: 1em;
          letter-spacing: 0.05em;
          margin-bottom: 0;
        }
      }

      h2 {
        font-family: $ff-serif;
        line-height: 1.3em;
        margin-top: $pad;
        margin-bottom: 0;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .entry-summary {
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &.con-imagen {
      header {
        .edition {
          position: absolute;
          background-color: #fff;
          padding: 0 5px;
        }
      }
    }

    &.ambit-publico {
      .ambito {
        display: flex;
        align-items: center;
        padding: $pad;
        background-color: $color-rojo;

        svg {
          position: relative;
          margin-right: $pad;
          animation: brownian 0.02s infinite;
        }

        span {
          display: block;
          position: relative;
          top: 3px;
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 0.05em;
        }
      }
    }

    &.ambit-restringido {
      .ambito {
        padding: 9px 9px 5px;
        background-color: $gray-lighter;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: $gray-light-semi;
        font-size: 0.7rem;
        line-height: 1.1em;
        font-weight: 200;
      }
    }

    &:hover::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: $pad;
      background-color: $color-rojo;
      background-image: url("../images/svg/flecha-der-med.svg");
      background-repeat: no-repeat;
      background-position: 0 center;
      color: #fff;
    }
  }

  @include tablet-portrait {
    .article {
      width: calc(50% - 30px);
    }
  }

  @include tablet-landscape {
    .article {
      width: calc(33% - 30px);
    }
  }

  @include desktop {
    .article {
      width: calc(25% - 30px);
    }
  }

  @include big-desktop {
    .article {
      width: calc(20% - 30px);
    }
  }
}
