.single-event {
  .content {
    padding-bottom: 0 !important;
  }

  h1 {
    margin-top: 0;
  }

  .map-container {
    position: relative;
    left: calc(-50vw + 50%);
    width: calc(100vw - 8px);

    .map {
      height: 400px;
    }
  }
}
