.boton {
  font-family: $ff-sans;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: $color-verde;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color $trans;

  &:hover {
    background-color: $gray-dark;
  }
}
