* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: $ff-base;
  font-size: 16px;
  line-height: 1.2em;

  &.fix {
    // ocultar scroll del body cuando abre solapa
    height: 100vh;
    overflow: hidden;
  }

  @include tablet-portrait {
    &:not(.home) {
      .content {
        margin-top: 125px;
        padding-top: $pad-4;
        padding-bottom: $pad-4;
      }
    }

    &.anteriores,
    &.programadas,
    &.calendario,
    &.post-type-archive-event,
    &.post-type-archive-location {
      .content {
        margin-top: 154px;
      }
    }

    &.post-type-archive-location,
    &.tax-meeting {
      .content {
        padding-top: 0;
      }
    }

    &.taxonomy-edition-2018-data {
      .content {
        padding-top: $pad;
      }
    }
  }
}

a {
  text-decoration: none;
  color: $color-link;
  transition: color 0.5s, background-color 0.5s;

  &:active,
  &:focus,
  &:hover {
    color: $gray-light-semi;
    transition: color 0.5s, background-color 0.5s;
  }
}

h1,
h2,
h3 {
  font-weight: normal;
  line-height: 1.2em;
}

figure {
  margin: 0;
}

// infinite scroll
// ---------------------------------------
.page-load-status {
  display: none; /* hidden by default */
}

.mi-loader {
  margin-top: $pad-2;
  padding: $pad-4;
  background-color: #000;
  background-image: url("../images/svg/flecha-aba-gran-blanco.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.infinite-scroll-last,
.infinite-scroll-error {
  font-family: $ff-sans;
  text-transform: uppercase;
  color: $gray-light;
  text-align: center;
  padding: $pad-2;
  background-color: $gray-lighter;

  @extend .dashed-grey;
}

.hide {
  display: none !important;
}

.button-container {
  margin-top: $pad-3;
  display: flex;
  justify-content: center;
}

// cuando no hay posts
.no-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $pad-4;
  width: 100%;
  min-height: 300px;
  background-color: $gray-lighter;

  @extend .dashed-grey;
}

// leaflet overrides

.leaflet-popup-content-wrapper {
  border-radius: 3px;
}

// centrar columna

.centrar-container {
  padding: 0 $pad;

  @include tablet-portrait {
    .centrar {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 700px;
      padding-left: $pad-4;
      padding-right: $pad-4;
    }
  }

  @include tablet-landscape {
    .centrar {
      max-width: 900px;
    }
  }
}

// Page header

.page-header {
  p {
    font-style: italic;
    color: $gray-light-semi;
  }
}
