* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: $ff-base;
  font-size: 16px;
  line-height: 1.2em;

  &.fix {
    // ocultar scroll del body cuando abre solapa
    height: 100vh;
    overflow: hidden;
  }

  @include tablet-portrait {
    &:not(.home) {
      .content {
        margin-top: 144px;
        padding-top: $pad-4;
        padding-bottom: $pad-4;
      }
    }

    &.anteriores,
    &.programadas,
    &.calendario,
    &.post-type-archive-event,
    &.post-type-archive-location {
      .content {
        margin-top: 163px;
      }
    }
  }
}

a {
  text-decoration: none;
  color: $color-link;
  transition: color 0.5s, background-color 0.5s;

  &:active,
  &:focus,
  &:hover {
    color: $gray-light-semi;
    transition: color 0.5s, background-color 0.5s;
  }
}

h1,
h2,
h3 {
  font-weight: normal;
}

figure {
  margin: 0;
}
