@font-face {
  font-family: "Dino";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dino-Regular.woff2") format("woff2"), url("../fonts/Dino-Regular.woff") format("woff");
}

@font-face {
  font-family: "Dino";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Dino-Italic.woff2") format("woff2"), url("../fonts/Dino-Italic.woff") format("woff");
}

@font-face {
  font-family: "Dino";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Dino-Heavy.woff2") format("woff2"), url("../fonts/Dino-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Dino";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Dino-HeavyItalic.woff2") format("woff2"), url("../fonts/Dino-HeavyItalic.woff") format("woff");
}

@font-face {
  font-family: "Dino";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/dino-light-webfont.woff2") format("woff2"), url("../fonts/dino-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Dino";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/dino-lightitalic-webfont.woff2") format("woff2"), url("../fonts/dino-lightitalic-webfont.woff") format("woff");
}
