@font-face {
  font-family: "Normalita";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Normalita-Regular.eot");
  src: url("../fonts/Normalita-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Normalita-Regular.woff2") format("woff2"), url("../fonts/Normalita-Regular.woff") format("woff"), url("../fonts/Normalita-Regular.ttf") format("ttf"), url("../fonts/Normalita-Regular.svg#Normalita-Regular") format("svg");
}

@font-face {
  font-family: "Normalita";
  font-weight: 700;
  font-style: bold;
  src: url("../fonts/Normalita-Bold.eot");
  src: url("../fonts/Normalita-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Normalita-Bold.woff2") format("woff2"), url("../fonts/Normalita-Bold.woff") format("woff"), url("../fonts/Normalita-Bold.ttf") format("ttf"), url("../fonts/Normalita-Bold.svg#Normalita-Bold") format("svg");
}
